<%- include('../partials/header') %>
<div class="container mt-5 text-center">
  <h1>Password reset email sent!</h1>
  <p>Please check your email to reset your password.</p>
</div>
<%- include('../partials/footer') %>
